@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

$clr1: hsl(217, 19%, 35%);
$clr2: hsl(214, 17%, 51%);
$clr3: hsl(212, 23%, 69%);
$clr4: hsl(210, 46%, 95%);

$fnt: 'Manrope';

$fnt-wght1: 500;
$fnt-wght2: 700;

///////////////////////global

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: $fnt;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: $clr4;
}
p {
    line-height: 1.5;
    font-weight: $fnt-wght1;
}

///////////////////////////////Component

.wrapper {
    width: 320px;
    margin: 10rem auto;
    background-color: white;
    border-radius: 0.5rem; 
}

header {
    height: 16rem;
    overflow: hidden;

    img {
        width: 100%;
    }
}

main {
    padding: 2.5rem;

    h1 {
        color: $clr1;
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    .main_p {
        color: $clr2;
        font-size: 0.95rem;
        letter-spacing: 0.02rem;
        margin-bottom: 2rem;
    }
}

.bottom_section {
    display: flex;
    align-items: center;

    .photo_mich {
        width: 3rem;
        border-radius: 50%;
    }

    .bio {
        width: 100%;
        padding-left: 1rem;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }

    h2 {
        font-size: 1rem;
        color: $clr1;
    }

    p {
        color: $clr3;
    }

    .arrow {
        width: 1rem;
        height: 1rem;
        cursor: pointer;

        &_contain {
            height: 28px;
            width: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: $clr4;
            padding-left: 0;
            padding-bottom: 3px;
            position: relative;
            cursor: pointer;
        }
    }
}

.pop_up {
    position: absolute;
    background-color: $clr1;
    width: 320px;
    z-index: 10;
    top: -1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    left: -20rem;
    height: 6rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    

    p {
        letter-spacing: 0.4rem;
        font-size: 0.8rem;
        cursor: pointer;
    }
}

.pop_down {
    display: none;
}

@media screen and (min-width: 700px) {
    .wrapper {
        display: flex;
        width: auto;
        max-width: 700px;
    }

    header {
        height: auto;

        img{
            height: 100%;
        }
    }

    .pop_up {
        border-radius: 0.5rem;
        top: -5rem;
        height: 4rem;
        width: 20rem;
        left: -10rem;
    }
}